body {
  font-family: "Kanit";
}

/* Start coding here */

.brand{
  position: relative;
  top: -30px;
  left: 10px;
  color: #ffff ;
}

.location{
  position:absolute;
  top: 30px;
  left: 570px;
  color:white;
  background-color:#808080 ;
  text-align: center;
  width: 60px;
}